<div class="jumbotron jumbotron-fluid border-bottom row align-items-end" id="jumbotron-hero" >
  <div class="container-fluid blockquote text-center d-flex justify-content-center">
     <% flash.each do |type, msg| %>
    <div class="d-flex justify-content-center mt-2">
      <div class="alert alert-primary" id="alert" style="width: 40rem">
        <%= msg %>
      </div>
    </div>
  <% end %>
  </div>
  <div class="container-fluid blockquote text-center rounded" id="button">
    <a class="btn btn-primary btn-lg m-3" href="<%=new_gossip_path%>" role="button">Partages-nous tes secrets</a>
  </div>
</div>


<div class="container">
  <h1 class="text-center text-light m-5">Les gossips :</h1>
  <div class="row text-center d-flex justify-content-around ">
    <% @gossips.each_with_index do |gossip, index| %>
      <div class="card text-white bg-dark m-2" style="width: 14rem;">
        <div class="card-header">
          gossip n°<%= index + 1%>
        </div>
        <div class="card-body">
          <h5 class="card-title"><%= gossip.title %></h5>
          <p class="card-text">auteur : <%= gossip.user.first_name %></p>
          <p><%= gossip.likes.count %> <%= (gossip.likes.count) <= 1 ? 'Like' : 'Likes'%></p>
          <a class="btn btn-outline-primary"  <%= link_to 'Like', gossip_likes_path(gossip), method: :post %></a>
          <a class="btn btn-outline-primary" <%= link_to "Voir ce gossip", gossip_path(gossip)%></a>
        </div>
      </div>
    <% end %>
  </div>
</div>


