<div class="jumbotron jumbotron-fluid" id="jumbotron-gossip">
  <div class="container-fluid blockquote text-center">
    <div class="container bg-danger border text-white"   style="max-width: 20rem;">
      <div class="container">
        <div class="card-body">
          <h5 class="card-title"><%= @gossip.title %></br></h5>
          <p class="card-text"><%= @gossip.content %></p>
          <p class="blockquote-footer"><%=@gossip.user.first_name%></p>
          <a class="btn btn-primary" <%= link_to "Profil de l'utilisateur", user_path(@gossip.user)%></a>
        </div>
        <div class="text-muted">
          <%= @gossip.created_at %>
        </div>
      </div>
    </div>
  </div>
</div>