<html>
  <body>

    <div class="jumbotron jumbotron-fluid" id="jumbotron-form">
      <div class="container-fluid blockquote text-center">
      <% if @gossip.errors.any? %>
          <div class="alert alert-warning text-center" role="alert">
            <p>Nous n'avons pas réussi à créer le potin pour la (ou les) raison(s) suivante(s) :</p>
            <ul>
              <% @gossip.errors.full_messages.each do |message| %>
                <%= message %><br />
              <% end %>
            </ul>
          </div>
        <% end %>
        <div class="container d-flex justify-content-around text-center">
        <h2 class="list-group-item active" style="width: 25rem;">Ecris ton gossip :</h2>
        </div>
        <div class="container d-flex flex-column text-white" id="transparent"  style="max-width: 25rem; max-height: 50rem">
          <div class="container d-flex justify-content-around text-center" style="max-width: 30rem" id="transparent-form">
            <%= form_tag url_for(action: 'create'), class: "my-4", method: "post" do %>
            
            <%= label_tag 'Titre' %><br />
            <%= text_field_tag :title %>
            <br /> <br />
      
            <%= label_tag 'Contenu' %><br />
            <%= text_area_tag :content %>
            <br /> <br />

            <%= label_tag 'Tags :' %><br />
            <%= select_tag 'tag', options_for_select(Tag.all.collect{ |u| [u.title, u.id] }), multiple: true, :class => "form-control mb-3" %>
            <br />
      
            <%= submit_tag "Créer le gossip", class: "btn btn-primary" %>
      
            <% end %>
          </div>
        </div>
      </div>
    </div>
    
  </body>
</html>