<body>
  <div class="jumbotron jumbotron-fluid" id="jumbotron-gossip">
    <div class="container-fluid blockquote text-center">
      <div class="container text-white" id="transparent"  style="max-width: 20rem;">
        <div class="container">
          <div class="card-body">
            <h5 class="card-title"><%= @gossip.title %></br></h5>
            <p class="card-text"><%= @gossip.content %></p>
            <p class="blockquote-footer text-light"> Tags :
            <% @gossip.tags.each do |x| %>
            <%= x.title %>   
            <% end %>
            </p>


            </p>
            <p class="blockquote-footer text-light">Auteur : <a class="" href="<%=user_path(@gossip.user)%>"><%=@gossip.user.first_name%></p></a>
            <p class="blockquote-footer text-light">Ville de l'auteur : <br /> <a class="" href="<%= city_path(@gossip.user.city)%>"><%=@gossip.user.city.name%></p></a>
            <p class="blockquote-footer"> Commentaires : <%= @gossip.comments.count %></p>
            <p><%= @gossip.likes.count %> <%= (@gossip.likes.count) <= 1 ? 'Like' : 'Likes'%></p>
            <% pre_like = @gossip.likes.find { |like| like.user_id == current_user.id} %>
            <% if pre_like %>
              <a class="btn btn-outline-primary"  <%= link_to 'Unlike', gossip_like_path(@gossip, pre_like), method: :delete %></a>
            <% else %>
              <a class="btn btn-outline-primary"  <%= link_to 'Like', gossip_likes_path(@gossip), method: :post  %></a>
            <% end %>
            <% if current_user == @gossip.user %>
            <div class="btn-group" role="group" aria-label="Basic example">
              <a class="btn btn-primary" <%= link_to "Editer", edit_gossip_path(@gossip)%></a>
              <a class="btn btn-warning" href="<%=gossip_path(@gossip)%>" data-confirm="êtes vous sur de vouloir supprimer ce gossip ?" data-method="DELETE">Supprimer</a>
            </div>
            <% end %>
          </div>
          <div class="text-muted">
            <%= @gossip.created_at %>
          </div>
        </div>
      </div>
    </div>
  </div>

  <% flash.each do |type, msg| %>
    <div class="d-flex justify-content-center mt-2">
      <div class="alert alert-info" style="max-width: 50rem">
        <%= msg %>
      </div>
    </div>
  <% end %>
  
  <div class="container">
  <h2 class="text-center text-light mb-4">Commentaires :</h2>
 
    <% @gossip.comments.each_with_index do |comment, index| %>
      <div class="card text-white bg-dark m-2" >
        <div class="card-body">
        <h5 class="card-title"> <a class="text-primary" href="<%=user_path(comment.user)%>"><%= comment.user.first_name %> :</a></h5>
          <p class="card-text"><%= comment.content %></p>
          <% if current_user == comment.user %>
          <a class="btn btn-primary" <%= link_to "Editer", edit_gossip_comment_path(@gossip, comment)%></a>
          <% end %>
        </div>
      </div>
    <% end %>

</div>
<div class="d-flex justify-content-center my-4">
    <%= form_for([@gossip, @gossip.comments.build]) do |f| %>
      <%= f.text_area :content, class: "rounded", style: "width: 40rem; height: 2rem", placeholder: "Ecris-ton commentaire" %>
      <%= f.submit "Créer", class: 'mx-2 btn btn-primary position-absolute', style: "height: 2rem; padding: 1px"%>
  <% end %>
</div>
</body>