<div class="jumbotron jumbotron-fluid" id="jumbotron-user">
  <div class="container-fluid blockquote text-center d-flex justify-content-center">
    <ul class="list-group text-light" style="max-width: 30rem;" id="transparent-array">
    <li class="list-group-item active"><%=@user.first_name%> <%=@user.last_name%></li>
    <li class="list-group-item ">age : <%=@user.age%> ans</li>
    <li class="list-group-item ">ville : <%=@user.city.name%> </li>
    <li class="list-group-item ">email : <%=@user.email%> </li>
    <li class="list-group-item ">description : <%=@user.description%> </li>
  </ul>
  </div>
</div>
